.extra-user-options {
    -fx-background-color: #eed9c4;
}

.extra-functions-label,
.zoom-label,
.navigate-label,
.rotation-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.extra-functions-label {
    -fx-font-size: 16px;
}