.menu-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: 'Times New Roman';
}

.quit-button {
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: black;
}

.menu-box {
    -fx-background-color: #faf0e6;
    -fx-border-color: black;
    -fx-border-width: 0 2 0 0;
}